/* 顶部样式 */
.header-bar {
    -fx-background-color: linear-gradient(to bottom, #5C6BC0, #3949AB);
    -fx-padding: 10;
}
.header-title {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

/* 表格样式 */
.post-table {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.post-table .column-header {
    -fx-background-color: #3f51b5;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

.post-table .column-header .label {
    -fx-text-fill: white;
    -fx-alignment: center-left;
}

.post-table .table-row-cell {
    -fx-background-color: white;
    -fx-border-color: transparent transparent #f0f3f8 transparent;
    -fx-border-width: 0 0 1 0;
}

.post-table .table-row-cell:odd {
    -fx-background-color: #f9fafc;
}

.post-table .table-row-cell:hover {
    -fx-background-color: #edf0f7;
}

.post-table .table-row-cell:selected {
    -fx-background-color: #e8eaf6;
}

.post-table .table-cell {
    -fx-alignment: center-left;
    -fx-padding: 8px;
    -fx-text-fill: #2e3a59;
}

/* 按钮样式 */
.action-button {
    -fx-background-color: linear-gradient(to bottom, #5C6BC0, #3949AB);
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-padding: 6 15;
}

.cancel-button {
    -fx-background-color: #E0E0E0;
    -fx-text-fill: #333;
    -fx-background-radius: 5;
    -fx-padding: 6 15;
}